/*Header Start*/
header{
    padding-block: 2rem;
    background-color:white;
  
}
/*Header End*/
header ul{
    column-gap: var(--gap-16);
}
header .nav-item{
    margin-bottom: 0;
}
header .nav-item:last-child{
    padding-left:calc(var(--gap-22));
}

.top-panel{
    padding: 1rem 3rem;
    border-radius:0;
}
.nav{
    margin-inline: 6.264rem; 
}
/*banner-section*/
.home-banner .container{
    display: flex;
    max-width: 1152px;  
    gap: 104px;


}
.home-banner .left-content{
    margin-block: 8rem;
}
.home-banner .left-content span{
    color:var(--color-assent);
}
.home-banner .right-content img{
    margin-block: 6rem;
}



/* our clients*/
.our-clients .container{
    padding-top: 2.50rem;
}
.our-clients .container ul{
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;

}

/* manage-community */

.manage-community .section-header{
    display: flex;
    max-width: 50%;
    margin-bottom: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.manage-community .section-header h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.manage-community .community-mid-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
}

.card{
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}


.helping-business{
    /* display: flex;
    flex-direction: row;
    justify-content: start; */

    padding: 64px 0;

}

.helping-business .container{
    gap: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.helping-business .left-panel h2 span{
    display: block;
}
.helping-business .left-panel p{
    font-size: 16px;
    margin-top: 10px;
}

.helping-business .right-panel ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
    padding-top: 64px;
    list-style: none;
}

.helping-business .right-panel ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 28px;
    
}

.helping-business .right-panel ul li span{
    display: block;
    font-size: 10px;
    margin-top: 5px;
}

.helping-business .right-panel ul li img{
    width: 40px;
    height: 0px;
}
